<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Can't connect?</h4>
  The soak clusters DC/OS UI are accessible from the offices or via <%= link_to('VPN', 'https://wiki.mesosphere.com/display/MSPHERE/VPN', class: "alert-link")%>!
</div>
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Slack</h4>
  Join us in the <%= link_to('#soak-cluster slack channel 💬', 'https://mesosphere.slack.com/channels/soak-cluster', target: '_blank', class: 'alert-link') %>.
</div>
