<div class="alert alert-secondary" role="alert">
  The soak clusters DC/OS UI are accessible from the offices or via <%= link_to('VPN', 'https://wiki.mesosphere.com/display/MSPHERE/VPN', class: "alert-link")%>!
</div>
